0 * * * * /usr/local/bin/gpio write 5 1
30 * * * * /usr/local/bin/gpio write 5 1

5 * * * * /usr/local/bin/gpio write 5 0
35 * * * * /usr/local/bin/gpio write 5 0

0 4 * * * /usr/local/bin/gpio write 25 1
0 8 * * * /usr/local/bin/gpio write 27 1
0 8 * * * /usr/local/bin/gpio write 28 1
0 6 * * * /usr/local/bin/gpio write 29 1

0 23 * * * /usr/local/bin/gpio write 25 0
0 20 * * * /usr/local/bin/gpio write 27 0
0 20 * * * /usr/local/bin/gpio write 28 0
0 22 * * * /usr/local/bin/gpio write 29 0
